@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 55% 99%;
    --foreground: 248 73% 3%;
    --muted: 248 27% 93%;
    --muted-foreground: 248 14% 34%;
    --popover: 248 55% 99%;
    --popover-foreground: 248 73% 3%;
    --card: 248 55% 99%;
    --card-foreground: 248 73% 3%;
    --border: 248 13% 94%;
    --input: 248 13% 75%;
    --primary: 248 29% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 12% 91%;
    --secondary-foreground: 248 12% 31%;
    --accent: 248 12% 91%;
    --accent-foreground: 248 12% 31%;
    --destructive: 3 89% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 248 29% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 248 36% 3%;
    --foreground: 248 32% 99%;
    --muted: 248 27% 7%;
    --muted-foreground: 248 14% 66%;
    --popover: 248 36% 3%;
    --popover-foreground: 248 32% 99%;
    --card: 248 36% 3%;
    --card-foreground: 248 32% 99%;
    --border: 248 13% 12%;
    --input: 248 13% 12%;
    --primary: 248 29% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 11% 20%;
    --secondary-foreground: 248 11% 80%;
    --accent: 248 11% 20%;
    --accent-foreground: 248 11% 80%;
    --destructive: 3 89% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 248 29% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
